@import 'variables';


.home{
    width: 100%;
    min-height: 100vh;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    color: rgb(85, 85, 85);
    background-color: $light-gray;
    &__login-section{
        height: fit-content;
        padding: 1.5rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        &__login-btn{
            padding: 0.7rem 1.5rem;
            border-radius: 20px;
            background-color: $blue;
            color: white;
        }
    }
}