@import 'variables';


.home{
    width: 100%;
    min-height: 100vh;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    color: rgb(85, 85, 85);
    background-color: #f3f5f9;
}