@import 'variables';

.nav-element{
    padding: 0.5rem 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    color: $dark-gray;
    transition: 0.3s;
    cursor: pointer;
    &__nav-title{
        font-size: 15px;
        font-weight: 400;
    }
    &:hover{
        scale: 1.12;
        background-color: $gray;
        border-radius: 5px;
    }
}