@import 'variables';

.single-album{
    width: 170px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    cursor: pointer;
    transition: 0.3s;
    &__img{
        width: 160px;
        border-radius: 5px;
    }
    &__details{
        width: 100%;
        padding: 0 0.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        color: $font-gray;
        font-size: 14px;
    }
}