@import 'variables';

.artist-section{
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 7px;
    border: 1px solid rgb(232, 232, 232);
    background-color: #f9f9f9;
    &__header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &__title{
            font-weight: 600;
            color: $text-gray;
        }
        &__see-more{
            color: rgb(172, 171, 171);
            cursor: pointer;
        }
    }
    &__artists{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}