@import 'variables';

.top-track{
    padding-right: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    cursor: pointer;
    &__details{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        &__img{
            width: 80px;
            border-radius: 5px 0 0 5px;
            box-shadow: 6px 0px 23px -7px rgba(0,0,0,0.14);
        }
        &__title{
            font-size: 15px;
            font-weight: 600;
        }
    }
    &__icon{
        display: none;
        margin-right: 1rem;
        
    }
}
.hovered{
    display: block;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
}

