@import 'variables';

.track-details{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    &__data{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: $light-gray;
    }
    &__trackbar{
        cursor: pointer;
    }
}

input[type=range] {
    max-width: 100%;
    height: 3px;
  }
  input[type=range]:focus {
    outline: none;
  }