@import 'variables';

.artist-section{
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 7px;
    &__header{
        &__title{
            font-weight: 700;
            font-size: 25px;
            color: $text-gray;
        }
    }
    &__artists{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}