@import 'variables';


.trending-section{
    width: fit-content;
    padding: 3rem 6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
    border-radius: 7px;
    border: 1px solid rgb(232, 232, 232);
    background-color: #f0f0f0;
    &__left-side{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        &__header{
            font-weight: 500;
            color: rgb(172, 171, 171);
        }
        &__song{
            &__artist{
                font-weight: 500;
            }
        }
    }
    &__right-side{
        width: 220px;
        border-radius: 20px;
    }
}